.container {
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "bandTitle title void"
    "bandList text image1"
    "button image2 image3";
  gap: 10px;
  color: #fff;
  padding: 20px;
  max-width: auto;
  margin: auto;
}

.title {
  grid-area: title;
  font-size: 45px;
  margin-bottom: 10px;
  display: flex;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--buttonColor);
}

.text {
  grid-area: text;
  font-size: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--textBgColor);
  border: none;
  border-radius: 15px;
}

.bandTitle {
  grid-area: bandTitle;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--bandTextColor);
}

.bandList {
  grid-area: bandList;
  font-size: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--bandTextColor);
}

.button {
  grid-area: button;
  justify-self: center;
  padding: 10px 20px;
  background-color: var(--buttonColor);
  color: black;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: fit-content;
  font-size: 15px;
  text-align: center;
  margin-top: 50%;
}

.image1 {
  grid-area: image1;
}

.image2 {
  grid-area: image2;
  align-self: end;
}

.image3 {
  grid-area: image3;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  display: block;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas:
      "title"
      "bandList"
      "text"
      "image1"
      "image2"
      "image3"
      "button";
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
    gap: 5px;
  }

  .title,
  .text,
  .bandList,
  .button {
    margin-bottom: 15px;
  }

  .title {
    font-size: 35px;
  }

  .text,
  .bandList {
    font-size: 18px;
  }

  .button {
    font-size: 12px;
    padding: 8px 16px;
  }

  .image1,
  .image2,
  .image3 {
    max-height: 150px;
  }
}
