.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.active{
    background-color: var(--bgColor);
    color:var(--textColor);
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}