.container{
    padding: 1rem;
    background-color: var(--bgColor);
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.logo{
    width: 200px;
    margin-left: 50px;
}